@using RMSAcademy.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rochester Math and Science Academy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   

</head>
<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("Home", "Index") </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li> @Html.ActionLink("About Us", "About") </li>
                            <li> @Html.ActionLink("Principal’s Corner", "Principal") </li>
                            <li> @Html.ActionLink("FAQ", "FAQ") </li>
                            <li> @Html.ActionLink("Documents & Policies", "Documents") </li>

                            <li> @Html.ActionLink("Contact Us", "Contact") </li>
                            <li> @Html.ActionLink("School News", "SchoolNews") </li>
                        </ul>
                    </li>
                    <li> @Html.ActionLink("Staff Members", "Staff") </li>
                    <li> @Html.ActionLink("Board Members & Board Minutes", "Board") </li>
                    <li> @Html.ActionLink("Parents", "Parents") </li>
                    <li> @Html.ActionLink("Links", "Links") </li>
                    <li> @Html.ActionLink("ELL", "ELL") </li>
                    <li> @Html.ActionLink("Sponsor", "Sponsor") </li>
                    <li> @Html.ActionLink("Calendar", "Calendar") </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <a href="/home">
                    <img src="~/Content/Images/Rochester_blue_300.png" />
                </a>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    Call us today! 507-252-5995
                </div>

                <div class="row">
                    <div class="alert alert-info">
                        <strong>
                            Rochester Math and Science Academy
                            <a href="@Url.Action("Calendar")">Calendar 2015-2016</a>
                        </strong>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="alert alert-warning">
                        <strong>
                            Due to weather school is cancelled for Friday, February 21
                        </strong>
                    </div>
                </div>
                    -->
            </div>
        </div>




        <!--content -->
        @RenderBody()




        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Rochester Math and Science Academy  @DateTime.Now.Year</p>
                </div>
            </div>
        </footer>

    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
